@model BoletoCinema.Areas.Admin.Models.Movie
@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Create</h1>

<h4>Movie</h4>
<hr />
<div class="row">
    <div class="col-md-6">
        <form>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="name" class="control-label">Name</label>
                <input id="name" asp-for="name" class="form-control" />
                <span asp-validation-for="name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="summery" class="control-label">Summery</label>
                <textarea id="sum" asp-for="summery" class="form-control" rows="10"></textarea>
                <span asp-validation-for="summery" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="poster" class="control-label">Poster Path</label>
                <input id="poster" asp-for="poster" type="text" class="form-control" />
                <span asp-validation-for="poster" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="trailer_path" class="control-label">Trailer path</label>
                <input id="trailer" type="text" asp-for="trailer_path" class="form-control" />
                <span asp-validation-for="trailer_path" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="status" class="control-label">Status</label>
                <select id="status" asp-for="status" class="form-control">
                    <option selected>Select movie status</option>
                    <option value="1">On Show</option>
                    <option value="2">On Comming</option>
                    <option value="0">Stop Showing</option>
                </select>
                <span asp-validation-for="status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="duration" class="control-label">Duration (minutes)</label>
                <input id="duration" type="number" asp-for="duration" class="form-control" />
                <span asp-validation-for="duration" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="published_date" class="control-label">Publish Date</label>
                <input id="date" asp-for="published_date" class="form-control" />
                <span asp-validation-for="published_date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <a href="#" id="submit-btn" class="btn btn-primary" onclick="createMovie()">Create</a>
            </div>
            <div class="movie-cate">

            </div>
            <div class="movie-cast">

            </div>
        </form>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label>Movie Categories</label>
            <div class="form-group">
                <button type="button" class="btn btn-primary modal-btn" data-bs-toggle="modal" data-bs-target="#categoriesList">
                    Open category list
                </button>
            </div>
        </div>
        <div class="form-group">
            <label>Movie Cast</label>
            <div class="form-group">
                <button type="button" class="btn btn-primary modal-btn" data-bs-toggle="modal" data-bs-target="#castList">
                    Open cast list
                </button>
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                <img src="~/Admin/assets/images/noimg.png" alt="None image" class="img-thumbnail" id="imgPre" style="height:400px; width:auto" />
            </div>
        </div>

    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
<!--Model categories-->
<div class="modal fade" id="categoriesList" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="max-width:70vw">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Choose categories movie</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="search-box">
                <span><i class="fas fa-search"></i></span>
                <input type="text" class="input-seach" placeholder="Enter to search" />
            </div>
            <div class="modal-body d-flex flex-wrap modal-container" id="cate-container">
                @foreach (var item in ViewBag.cateList)
                {
                    <span class="m-3">

                        <input type="checkbox" value="@item.id" />&nbsp;@item.name
                    </span>
                }

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary save-btn"id="save-cate" >Save changes</button>
            </div>
        </div>
    </div>
</div>
<!--Model Cast-->
<div class="modal fade" id="castList" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="max-width:70vw">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Choose actor</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="search-box">
                <span><i class="fas fa-search"></i></span>
                <input type="text" class="input-seach" placeholder="Enter to search" />
            </div>
            <div class="modal-body d-flex flex-wrap modal-container" id="cast-container">
                @foreach (var item in ViewBag.CastList)
                {
                    <span class="m-3">

                        <input type="checkbox" value="@item.id" />&nbsp;@item.name
                    </span>
                }

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary save-btn" id="save-cast">Save changes</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/Admin/dist/js/modal-search.js"></script>
    <script src="~/Admin/dist/js/add-movie.js"></script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    
}
