@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!-- ============================================================== -->
<!-- Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->
<aside class="left-sidebar" data-sidebarbg="skin6">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar" data-sidebarbg="skin6">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav" class="in">
                <li class="sidebar-item">
                    <a class="sidebar-link sidebar-link" asp-controller="Home" asp-action="Index"
                       aria-expanded="false">
                        <i data-feather="home" class="feather-icon"></i><span class="hide-menu">Dashboard</span>
                    </a>
                </li>
                <li class="list-divider"></li>
                <li class="nav-small-cap"><span class="hide-menu">Applications</span></li>

                <li class="sidebar-item">
                    <a class="sidebar-link" asp-controller="Categories" asp-action="Index"
                       aria-expanded="false">
                        <i class="fas fa-th"></i><span class="hide-menu">
                            Category
                        </span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link sidebar-link" asp-controller="Movies" asp-action="Index"
                       aria-expanded="false">
                        <i class="far fa-play-circle"></i><span class="hide-menu">Movie</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link sidebar-link" asp-controller="Actors" asp-action="Index"
                       aria-expanded="false">
                        <i class="fas fa-street-view"></i><span class="hide-menu">Actor</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link sidebar-link" asp-controller="Users" asp-action="Index"
                       aria-expanded="false">
                        <i class="fas fa-user"></i><span class="hide-menu">User</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link sidebar-link" asp-controller="Tickets" asp-action="Index"
                       aria-expanded="false">
                        <i class="fas fa-ticket-alt"></i><span class="hide-menu">Ticket</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link sidebar-link" asp-controller="Schedules" asp-action="Index"
                       aria-expanded="false">
                        <i class="far fa-calendar"></i><span class="hide-menu">Schedule</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link sidebar-link" asp-controller="Orders" asp-action="Index"
                       aria-expanded="false">
                        <i class="fas fa-clipboard-list"></i><span class="hide-menu">Order</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link sidebar-link" asp-controller="Branches" asp-action="Index"
                       aria-expanded="false">
                        <i class="far fa-building"></i><span class="hide-menu">Branch</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link sidebar-link" asp-controller="Rooms" asp-action="Index"
                       aria-expanded="false">
                        <i class="fas fa-home"></i><span class="hide-menu">Room</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link sidebar-link" asp-controller="Seats" asp-action="Index"
                       aria-expanded="false">
                        <i class="fas fa-couch"></i><span class="hide-menu">Seat</span>
                    </a>
                </li>
                <li class="list-divider"></li>
                <li class="nav-small-cap"><span class="hide-menu">Others</span></li>
                <li class="sidebar-item">
                    <a class="sidebar-link sidebar-link" asp-controller="ContactForms" asp-action="Index"
                       aria-expanded="false">
                        <i class="fas fa-id-card"></i><span class="hide-menu">
                            Contact Forms
                        </span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link sidebar-link" asp-controller="Review" asp-action="Index"
                       aria-expanded="false">
                        <i class="far fa-heart"></i></i><span class="hide-menu">
                            Review
                        </span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link sidebar-link" asp-controller="" asp-action="Index"
                       aria-expanded="false">
                        <i class="far fa-flag"></i><span class="hide-menu">
                            Report
                        </span>
                    </a>
                </li>
                <li class="list-divider"></li>
                <li class="nav-small-cap"><span class="hide-menu">Extra</span></li>
                <li class="sidebar-item">
                    <a class="sidebar-link sidebar-link" asp-controller="Auth" asp-action="SignOut" asp-area="exists"
                       aria-expanded="false">
                        <i data-feather="log-out" class="feather-icon"></i><span class="hide-menu">Logout</span>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</aside>
<!-- ============================================================== -->
<!-- End Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->