@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model BoletoCinema.Areas.Admin.Models.User

<ul class="menu">
    <li>
        <a asp-controller="Home" asp-action="Index">Home</a>
    </li>
    <li>
        <a asp-controller="Home" asp-action="MovieGrid">Movie Grid</a>
    </li>
    <li>
        <a href="#0">pages</a>
        <ul class="submenu">
            <li>
                <a asp-controller="Home" asp-action="About">About Us</a>
            </li>
            <li>
                <a asp-controller="Home" asp-action="AppDownload">Apps Download</a>
            </li>

            <li>
                <a asp-controller="Home" asp-action="Error404">404</a>
            </li>
        </ul>
    </li>

    <li>
        <a asp-controller="Home" asp-action="Contact">contact</a>
    </li>
    @if (User.Identity.IsAuthenticated || Model != null)
    {
        <li>

            @if (Model.id != null)
            {
                <a href="#0">Hello,@Model.displayname </a>
                <div id="user-displayname" data-id="@Model.id" hidden="hidden">@Model.displayname</div>

            }
            @if (User.Identity.IsAuthenticated)
            {
                <a href="#0">Hello,User </a>
            }
            <ul class="submenu">
                <li>
                    <a asp-controller="Home" asp-action="About">Infomation</a>
                </li>
                <li>
                    <a asp-controller="Auth" asp-action="SignOut">Sign out</a>
                </li>
            </ul>
        </li>


    }
    else
    {
        <li class="header-button pr-0">
            <a asp-controller="Auth" asp-action="SignUp">join us</a>
            <a asp-controller="Auth" asp-action="Login">Login</a>
        </li>
    }
</ul>