@{ 

}
<header class="header-section">
    <div class="container">
        <div class="header-wrapper">
            <div class="logo">
                <a asp-controller="Home" asp-action="Index">
                    <img src="~/User/assets/images/logo/logo.png" alt="logo">
                </a>
            </div>
            <ul class="menu">
                <li>
                    <a href="#0" @*class="active"*@>Home</a>
                    <ul class="submenu">
                        <li>
                            <a asp-controller="Home" asp-action="Index" class="active">Home</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#0">movies</a>
                    <ul class="submenu">
                        <li>
                            <a asp-controller="Home" asp-action="MovieGrid">Movie Grid</a>
                        </li>
                        <li>
                            <a asp-controller="Home" asp-action="MovieDetail">Movie Details</a>
                        </li>
                        <li>
                            <a asp-controller="Home" asp-action="MovieTicketPlan">Movie Ticket Plan</a>
                        </li>
                        <li>
                            <a asp-controller="Home" asp-action="MovieSeatPlan">Movie Seat Plan</a>
                        </li>
                        <li>
                            <a asp-controller="Home" asp-action="MovieCheckout">Movie Checkout</a>
                        </li>
                        <li>
                            <a asp-controller="Home" asp-action="MovieFood">Movie Food</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#0">pages</a>
                    <ul class="submenu">
                        <li>
                            <a asp-controller="Home" asp-action="About">About Us</a>
                        </li>
                        <li>
                            <a asp-controller="Home" asp-action="AppDownload">Apps Download</a>
                        </li>
                       
                        <li>
                            <a asp-controller="Home" asp-action="Error404">404</a>
                        </li>
                    </ul>
                </li>

                <li>
                    <a asp-controller="Home" asp-action="Contact">contact</a>
                </li>
                <li class="header-button pr-0">
                    <a asp-controller="Home" asp-action="SignUp">join us</a>
                </li>
                @if (User.Identity.IsAuthenticated)
                {
                    <li>
                        <a asp-controller="Auth" asp-action="SignOut">Sign out</a>
                    </li>

                }
                else
                {
                    <li class="header-button pr-0">
                        <a asp-controller="Auth" asp-action="Login">Login</a>
                    </li>
                }
            </ul>
            <div class="header-bar d-lg-none">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
</header>