@{

}
@model BoletoCinema.Areas.Admin.Models.User
<header class="header-section">
    <div class="container">
        <div class="header-wrapper">
            <div class="logo">
                <a asp-controller="Home" asp-action="Index">
                    <img src="~/User/assets/images/logo/logo.png" alt="logo">
                </a>
            </div>
            <ul class="menu">
                <li>
                    <a asp-controller="Home" asp-action="Index" >Home</a>
                </li>
                <li>
                    <a asp-controller="Home" asp-action="MovieGrid">Movie Grid</a>
                </li>
                <li>
                    <a href="#0">pages</a>
                    <ul class="submenu">
                        <li>
                            <a asp-controller="Home" asp-action="About">About Us</a>
                        </li>
                        <li>
                            <a asp-controller="Home" asp-action="AppDownload">Apps Download</a>
                        </li>

                        <li>
                            <a asp-controller="Home" asp-action="Error404">404</a>
                        </li>
                    </ul>
                </li>

                <li>
                    <a asp-controller="Home" asp-action="Contact">contact</a>
                </li>
                @if (User.Identity.IsAuthenticated @*|| Model != null*@)
                {
            <li>

                    @*@if (Model.id != null)
                    {
                        <a href="#0">Hello,@Model.displayname </a>
                    }*@
                    @if (User.Identity.IsAuthenticated)
                    {
                        <a href="#0">Hello,User </a>
                    }
                <ul class="submenu">
                    <li>
                        <a asp-controller="Home" asp-action="About">Infomation</a>
                    </li>
                    <li>
                        <a asp-controller="Auth" asp-action="SignOut">Sign out</a>
                    </li>
                </ul>
            </li>


                }
                else
                {
                    <li class="header-button pr-0">
                        <a asp-controller="Home" asp-action="SignUp">join us</a>
                        <a asp-controller="Auth" asp-action="Login">Login</a>
                    </li>
                }
            </ul>
            <div class="header-bar d-lg-none">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
</header>