@{

}
@model BoletoCinema.Areas.Admin.Models.User

<header class="header-section">
    <div class="container">
        <div class="header-wrapper">
            <div class="logo">
                <a asp-controller="Home" asp-action="Index">
                    <img src="~/User/assets/images/logo/logo.png" alt="logo">
                </a>
            </div>
            @await Component.InvokeAsync("LayoutHeader")
            <div class="header-bar d-lg-none">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
</header>