@model IEnumerable<String>

@{
    Layout = "_LayoutSimple";
    ViewData["Title"] = "Login";
}

<div class="preloader">
    <div class="preloader-inner">
        <div class="preloader-icon">
            <span></span>
            <span></span>
        </div>
    </div>
</div>
<!-- ==========Preloader========== -->
<!-- ==========Sign-In-Section========== -->
<section class="account-section bg_img" data-background="~/User/assets/images/account/account-bg.jpg">
    <div class="container">
        <div class="padding-top padding-bottom">
            <div class="account-area">
                <div class="section-header-3">
                    <span class="cate">hello</span>
                    <h2 class="title">welcome back</h2>
                </div>
                <form class="account-form" method="post" asp-controller="Auth" asp-action="Log">
                    <div class="form-group">
                        <label for="email2">Email<span>*</span></label>
                        <input name="username" type="text" placeholder="Enter Your Email" id="email2" required>
                    </div>
                    <div class="form-group">
                        <label for="pass3">Password<span>*</span></label>
                        <input name="password" type="password" placeholder="Password" id="pass3" required>
                    </div>
                    <div class="form-group checkgroup">
                        <input type="checkbox" id="bal2" required checked>
                        <label for="bal2">remember password</label>
                        <a href="#0" class="forget-pass">Forget Password</a>
                    </div>
                    <div class="form-group text-center">
                        <input type="submit" value="log in">
                    </div>
                </form>

                <div class="option">
                    Don't have an account? <a asp-controller="Auth" asp-action="SignUp" >sign up now</a>
                </div>
                <div class="or"><span>Or</span></div>
                <ul class="social-icons">

                    @foreach (var item in Model)
                    {
                        if (item.ToUpper() == "FACEBOOK")
                        {
                            <li><a class="fab fa-facebook-f" asp-action="SignIn" asp-route-provider="@item"></a></li>
                        }
                        if (item.ToUpper() == "GOOGLE")
                        {
                            <li><a class="fab fa-google" asp-action="SignIn" asp-route-provider="@item"></a></li>
                        }


                    }
                </ul>
            </div>
        </div>
    </div>
</section>