@model BoletoCinema.ViewModel.RegisterViewModel
<div class="preloader">
    <div class="preloader-inner">
        <div class="preloader-icon">
            <span></span>
            <span></span>
        </div>
    </div>
</div>
    <h1>@ViewData["mess"]</h1>
<!-- ==========Preloader========== -->
<!-- ==========Sign-In-Section========== -->
@if(TempData["alert-mess"] != null)
{
    @TempData["alert-mess"]
}
<section class="account-section bg_img" data-background="~/User/assets/images/account/account-bg.jpg">
    <div class="container">
        <div class="padding-top padding-bottom">
            <div class="account-area">
                <div class="section-header-3">
                    <span class="cate">welcome</span>
                    <h2 class="title">to Boleto </h2>
                </div>
                <form class="account-form" method="post" asp-controller="Auth" asp-action="SignUp">
                    <div class="form-group">
                        <label asp-for="username">Username<span>*</span></label>
                        <input asp-for="username" type="text" placeholder="Enter Your Username" id="username">
                        <span asp-validation-for="username"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="email">Email<span>*</span></label>
                        <input asp-for="email" type="email" placeholder="Enter Your Email" id="email">
                        <span asp-validation-for="email"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="password">Password<span>*</span></label>
                        <input asp-for="password" type="password" placeholder="Password" id="pass1">
                        <span asp-validation-for="password"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="confirmPassword">Confirm Password<span>*</span></label>
                        <input asp-for="confirmPassword" type="password" placeholder="Password" id="pass2">
                        <span asp-validation-for="confirmPassword"></span>
                    </div>
                    <div class="form-group checkgroup">
                        <input type="checkbox" id="bal" required checked>
                        <label for="bal">I agree to the <a href="#0">Terms, Privacy Policy</a> and <a href="#0">Fees</a></label>
                    </div>
                    <div class="form-group text-center">
                        <input type="submit" value="Sign Up">
                    </div>
                </form>
                <div class="option">
                    Already have an account? <a asp-controller="Auth" asp-action="Login">Login</a>
                </div>
                <div class="or"><span>Or</span></div>
                <ul class="social-icons">
                    <li>
                        <a href="#0">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#0" class="active">
                            <i class="fab fa-twitter"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#0">
                            <i class="fab fa-google"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
