@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_LayoutSimple";
}
<div class="preloader">
    <div class="preloader-inner">
        <div class="preloader-icon">
            <span></span>
            <span></span>
        </div>
    </div>
</div>
<!-- ==========Preloader========== -->
<!-- ==========Four-Not-Four-Section========== -->
<section class="section-404 padding-top padding-bottom">
    <div class="container">
        <div class="thumb-404">
            <img src="~/User/assets/images/404.png" alt="404">
        </div>
        <h3 class="title">Oops.. looks like you got lost :( </h3>
        <a href="index.html" class="custom-button">Back To Home <i class="flaticon-right"></i></a>
    </div>
</section>